<?xml version="1.0" encoding="UTF-8"?>
<context_info xmlns="http://canvas.instructure.com/xsd/cccv1p0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://canvas.instructure.com/xsd/cccv1p0 https://canvas.instructure.com/xsd/cccv1p0.xsd">
  <course_id>31868</course_id>
  <course_name>Career Development (English Master)</course_name>
  <root_account_id>270930000000000001</root_account_id>
  <root_account_name>BYU-Pathway Worldwide</root_account_name>
  <root_account_uuid>IMuzbOTC89cI1IACfEAqa9OrrSRFuREwNMoNbhMP</root_account_uuid>
  <canvas_domain>byupw.instructure.com</canvas_domain>
</context_info>
